@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin:0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD; ;
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 10%;
    justify-content: space-between;
}

.presentacion__contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentacion__contenido_texto {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.presentacion__enlaces {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_subtitulo {
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-top: 10px;
}

.presentacion_enlaces_link {
      /* background-color: #22D4FD; */
      border: 2px solid #22D4FD;
      width: 378px;
      text-align: center;
      border-radius: 8px;
      font-size: 24px;
      font-weight: 600;
      padding: 21.5px 0;
      text-decoration: none;
      color: #F6F6F6;
      font-family: 'Montserrat', sans-serif;
      transition: 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
}

.presentacion_enlaces_link:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.05);
}

